<% layout("/layouts/boilerplate") %>

<div class="row mt-3 offset-2">
    <div class="alert alert-danger" role="alert">
       <p><%- err.message %></p>
       <p><%- err.statusCode %></p>
    </div>
</div>
 