<% layout("/layouts/boilerplate") %>
<h3>All Listing</h3>

<div class="row row-cols-lg-3 row-cols-nd-2 row-cols-sm-1">
    <% for(listing of allListings){%>

        <a href="/listings/<%= listing._id %>" class="listing-link">
            <div class="card col listing-card" >
                <img src="<%= listing.image.url%>" 
                class="card-img-top" 
                alt="listing_image" 
                style="height: 20rem;">
                <div class="card-img-overlay"><i class="fa-solid fa-heart sticky-top"></i></div>
                <div class="card-body">
                <p class="card-text">
                    <b><%= listing.title %> <br></b>
                    <%=listing.priceFormatted = new Intl.NumberFormat('en-IN', { style: 'currency', currency: 'INR' }).format(listing.price);%>/night
                </p>
                </div>
            </div>
        </a>
    <%} %>
</div>




